#title= "Journals matching '#{params[:query]}':"

#page_nav= will_paginate @journals

- if @journals.nil? || @journals.empty?
  %p Found no journals matching the specified criteria.
  %p Please refine your search and try again.

- else
  %table#search_results
    - @journals.each do |j|
      %tr<
        %td= link_to j.full, controller: 'journal', action: 'show', nlm_id: j.nlm_id
