%h2 Junco Search Results

#page_nav= will_paginate @journals

- if @journals.nil? || @journals.empty?
  %p Found no journals matching the specified criteria.
  %p Please refine your search and try again.

- else
  %table
    - @journals.each do |j|
      %tr<
        %td= link_to j.full, "/journal/#{j.nlm_id}"
