// Place all the styles related to the Journal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#trail {
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

#info td {
  vertical-align: top;
}

#trail table {
  width: 100%;
  padding: 0;
  border-spacing: 3px;
}

#trail table.invis {
  border: none;
  padding: 0;
  border-spacing: 0;
}

#trail td {
  padding: 0;
  border-spacing: 0;
}

td.source {
  width: 0;
  text-align: right;
  white-space: nowrap;
}

.verb {
  color: #888888;
  font-style: italic;
}

td.target {
  width: 0;
  text-align: left;
  white-space: nowrap;
}

.queryJournal {
  color: #ffa500;
}

.currentJournal {
  color: #006400;
}

span {
  white-space: nowrap;
}